.section-activity {
  margin-top: 100px;
  width: 100%;
  height: auto;
  margin-top: 100px;
  &__title {
    font-size: 2rem;
    margin-left: 40px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  &__content {
    width: 80%;
    margin: 0 auto;
    & .activity-slider {
      display: flex;
      justify-content: center;
      align-items: center;
      & .slider-item {
        cursor: pointer;
        & img {
          width: 400px;
          max-height: 220px;
          margin: 0px 30px;
          border: 2px solid $blue;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          object-fit: cover;
        }
      }
    }
  }
}
@media screen and(min-width : '1920px') {
  .section-activity {
    &__title {
      font-size: 3rem;
    }
    &__content {
      & .activity-slider {
        & .slider-item {
          & img {
            width: 600px;
            max-height: 320px;
          }
        }
      }
    }
  }
}
// iPad Pro
@media screen and(min-width : "1024px") and (max-width: "1200px") {
  .section-activity {
    &__title {
      font-size: 3rem;
    }
    &__content {
      & .activity-slider {
        & .slider-item {
          & img {
            width: 340px;
            height: 320px;
          }
        }
      }
    }
  }
}
// ipad
@media screen and(min-width : "768px") and (max-width: "1023px") {
  .section-activity {
    &__content {
      & .activity-slider {
        & .slider-item {
          & img {
            width: 280px;
            height: 200px;
          }
        }
      }
    }
  }
}
// small tablet
@media screen and(min-width : "540px") and (max-width: "767px") {
  .section-activity {
    &__content {
      & .activity-slider {
        & .slider-item {
          & img {
            width: 220px;
            height: 200px;
          }
        }
      }
    }
  }
}
// phone
@media screen and(min-width : "200px") and (max-width: "539px") {
  .section-activity {
    &__content {
      & .activity-slider {
        & .slider-item {
          & img {
            width: 140px;
            height: 120px;
          }
        }
      }
    }
  }
}
