.section-intro {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  & .section-avatar {
    margin-right: 30px;
    & img {
      //border: 10px solid $white;
      box-shadow: 0 16px 14px rgb(211, 210, 210);
      width: 280px;
      height: 280px;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
      object-fit: cover;
      clip-path: circle(99.2% at 28% 61%);
      transition: all 0.2s linear;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      cursor: pointer;
      &:hover {
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
      }
    }
  }
  & .section-info {
    font-size: 2rem;
    width: 30%;
  }
  & .section-job {
    display: block;
    font-size: 1.6rem;
    opacity: 0.6;
    letter-spacing: 2px;
  }
  & .section-name {
    display: block;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 10px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  & .section-desc {
    display: block;
    margin-top: 10px;
    font-size: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
  & .section-btn {
    margin-top: 20px;
    & .btn-download,
    .btn-contact {
      border: 3px $blue solid;
      border-radius: 40px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
      padding: 10px 30px;
      color: $gray;
      background-color: #fff;
      letter-spacing: 1px;
      transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
    }
    & .btn-contact {
      border: 3px $gray solid;
      &:hover {
        background-color: rgb(199, 199, 199);
        color: $white;
      }
    }
    & .btn-download:hover {
      background-color: rgb(118, 150, 199);
      color: $white;
    }
  }
}
@media screen and(min-width : '1600px') {
  .section-intro {
    margin-top: 150px;
    & .section-avatar {
      margin-right: 60px;
      & img {
        width: 380px;
        height: 380px;
        object-fit: cover;
      }
    }
    & .section-job {
      font-size: 2.8rem;
    }
    & .section-name {
      font-size: 5rem;
    }
    & .section-desc {
      font-size: 2rem;
    }
  }
}
// iPad Pro
@media screen and(min-width : "1024px") and (max-width: "1200px") {
  .section-intro {
    & .section-avatar {
      & img {
        width: 230px;
        height: 230px;
      }
    }
    & .section-info {
    }
    & .section-job {
      font-size: 1.4rem;
    }
    & .section-name {
      font-size: 3rem;
      margin-top: 0;
    }
    & .section-desc {
      margin-top: 0;
      font-size: 1.3rem;
    }
    & .section-btn {
      margin-top: 10px;
      display: flex;
      & .btn-download,
      .btn-contact {
        margin: 0 5px;
        padding: 4px 10px;
        font-size: 1.3rem;
      }
    }
  }
}
// ipad
@media screen and(min-width : "768px") and (max-width: "1023px") {
  .section-intro {
    & .section-avatar {
      & img {
        width: 230px;
        height: 230px;
      }
    }
    & .section-job {
      font-size: 1.4rem;
    }
    & .section-name {
      font-size: 3rem;
      margin-top: 0;
    }
    & .section-desc {
      margin-top: 0;
      font-size: 1.3rem;
    }
    & .section-btn {
      margin-top: 10px;
      display: flex;
      & .btn-download,
      .btn-contact {
        margin: 0 5px;
        padding: 4px 10px;
        font-size: 1.3rem;
      }
    }
  }
}
// small tablet
@media screen and(min-width : "540px") and (max-width: "767px") {
  .section-intro {
    margin-top: 0;
    & .section-avatar {
      & img {
        width: 190px;
        height: 190px;
        clip-path: circle(64.9% at 34% 42%);
      }
    }
    & .section-job {
      font-size: 1.1rem;
    }
    & .section-name {
      font-size: 2rem;
      margin-top: 0;
    }
    & .section-desc {
      margin-top: 0;
      font-size: 1.3rem;
    }
    & .section-btn {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      & .btn-download,
      .btn-contact {
        margin: 5px 0;
        padding: 4px 30px;
        font-size: 1.1rem;
      }
    }
  }
}
