.section-project {
  width: 100%;
  height: auto;
  margin-top: 100px;
  &__title {
    font-size: 2rem;
    margin-left: 40px;
    font-weight: 500;
    & .seperate {
      display: block;
      border: 1px solid #000;
      width: 130px;
      height: 1px;
      background-color: $orange-light;
    }
  }
  &__content {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 40px;

    & .project-item {
      width: 50%;
      padding: 25px;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 13px;
      border: 2px solid $blue;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      box-shadow: 0 1px 3px $gray;
      &:hover {
        box-shadow: 0 2px $blue;
      }
    }
    & .project-img {
      width: 60%;
    }
    & .project-img img {
      min-width: 250px;
      max-height: 200px;
      margin: 10px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      box-shadow: 0 1px 3px $gray;
      object-fit: cover;
      &:hover {
        cursor: pointer;
        transform: scale(1.0231);
        -webkit-transform: scale(1.0231);
        -moz-transform: scale(1.0231);
        -ms-transform: scale(1.0231);
        -o-transform: scale(1.0231);
        border: 1px solid $orange-light;
      }
    }
    & .project-info {
      width: 40%;
      & .project-name {
        font-size: 1.8rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        font-weight: 500;
      }
      & .project-tools {
        font-size: 1.5rem;
        margin-top: 10px;
      }
      & .project-desc {
        margin-top: 5px;
        font-size: 1.4rem;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
      }
      & .project-btn {
        margin-top: 15px;
        display: flex;

        & .btn-view,
        .btn-code {
          border-radius: 4px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          padding: 6px 10px;
          margin: 0 5px;
          cursor: pointer;
          border: none;
          font-weight: 500;
          &:active {
            opacity: 0.8;
          }
          & a {
            font-size: 1.5rem;
          }
        }
        & .btn-code {
          background-image: linear-gradient(to right, $orange-light, $blue);
          & a {
            color: $white;
          }
          &:hover {
            background-image: linear-gradient(to right, $blue, $orange-light);
          }
        }
        & .btn-view {
          & a {
            color: $black;
          }
        }
      }
    }
  }
}
@media screen and(min-width : "1260px") and (max-width: "2000px") {
  .section-project {
    &__title {
      font-size: 3rem;
    }
    &__content {
      gap: 100px;
      & .project-item {
        display: none;
        width: 40%;
        display: flex;
        flex-direction: row;
      }
      & .project-img img {
        min-width: 360px;
        max-height: 250px;
      }
      & .project-info {
        margin-left: 20px;
        width: 280px;
        & .project-name {
          font-size: 3rem;
        }
        & .project-tools {
          font-size: 2em;
        }
        & .project-desc {
          font-size: 1.8rem;
        }
        & .project-btn {
          & .btn-view,
          .btn-code {
            padding: 6px 30px;
            margin: 0 5px;
            & a {
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
}
// iPad Pro
@media screen and(min-width : "1024px") and (max-width: "1259px") {
  .section-project {
    &__content {
      & .project-item {
        width: 80%;
      }
      & .project-img {
        width: 60%;
      }
      & .project-img img {
        width: 400px;
      }
      & .project-info {
        margin-left: 0;
        width: 40%;
      }
    }
  }
}
// ipad
@media screen and(min-width : "768px") and (max-width: "1023px") {
  .section-project {
    &__content {
      & .project-item {
        width: 80%;
      }
      & .project-img {
        width: 60%;
      }
      & .project-img img {
        width: 400px;
      }
      & .project-info {
        margin-left: 30px;
        width: 40%;
      }
    }
  }
}
// small tablet
@media screen and(min-width : "540px") and (max-width: "767px") {
  .section-project {
    &__content {
      margin: 20px;
      & .project-item {
        width: 95%;
        padding: 20px;
      }
      & .project-img {
        width: 60%;
      }
      & .project-img img {
        width: 300px;
      }
      & .project-info {
        margin-left: 20px;
        width: 40%;
      }
    }
  }
}

// phone
@media screen and(min-width : "200px") and (max-width: "539px") {
  .section-project {
    &__title {
      text-align: center;
    }
    &__content {
      margin: 20px;
      & .project-item {
        width: 98%;
        padding: 10px;
        flex-direction: column;
        gap: 0;
      }
      & .project-img {
        display: flex;
        justify-content: center;
      }
      & .project-img img {
        width: 290px;
        height: 250px;
      }
      & .project-info {
        & .project-name {
          text-align: center;
        }
        & .project-tools {
          text-align: center;
          font-size: 2rem;
        }
        & .project-desc {
          display: none;
        }
        & .project-btn {
          justify-content: center;
        }
      }
    }
  }
}
