.social-box {
  position: fixed;
  width: fit-content;
  top: 70%;
  left: 10px;
  background-color: $white;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 0 1px gray;
  &__linkedin {
    z-index: 111;
    & a {
      & ion-icon {
        font-size: 3rem;
        color: rgb(214, 80, 18);
      }
    }
  }
  &__facebook {
    z-index: 111;
    & a {
      & ion-icon {
        font-size: 3rem;
        color: rgb(53, 53, 177);
      }
    }
  }
  &__github {
    z-index: 111;
    & a {
      & ion-icon {
        font-size: 3rem;
        color: $black;
      }
    }
  }
}
// iPad Pro
@media screen and(min-width : "1024px") and (max-width: "1200px") {
  .social-box {
    position: fixed;
    top: 90%;
    left: 10px;
  }
}
// iPad
@media screen and(min-width : "768px") and (max-width: "1023px") {
  .social-box {
    position: fixed;
    top: 85%;
    left: 10px;
  }
}
// iPad
@media screen and(min-width : "540px") and (max-width: "767px") {
  .social-box {
    position: fixed;
    top: 90%;
    left: 10px;
    display: flex;
    flex-direction: row-reverse;
    z-index: 1111;
    gap: 5px;
  }
}
// phone
@media screen and(min-width : "200px") and (max-width: "539px") {
  .social-box {
    position: fixed;
    top: 90%;
    left: 10px;
    display: flex;
    flex-direction: row-reverse;
    z-index: 111111111111;
    gap: 5px;
  }
}
