.section-objectives {
  margin-top: 100px;
  width: 100%;
  height: auto;
  margin-top: 100px;
  &__title {
    font-size: 2rem;
    margin-left: 40px;
    font-weight: 500;
  }
  &__content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    & .objectives-item {
      width: 60%;
      min-height: 150px;
      border: 1px solid $gray;
      box-shadow: 0 0 12px $gray;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      display: flex;
      align-items: center;
      text-align: center;
      padding: 0 10px;
      position: relative;
      &-text {
        font-size: 1.4rem;
        letter-spacing: 1px;
        & i {
          font-size: 4rem;
          color: rgb(216, 211, 211);
          position: absolute;
          &:first-child {
            top: -30px;
            left: -40px;
          }
          &:last-child {
            bottom: -30px;
            right: -40px;
          }
        }
      }
    }
  }
}
@media screen and(min-width : '1600px') {
  .section-objectives {
    &__title {
      font-size: 3rem;
    }
    &__content {
      & .objectives-item {
        width: 60%;
        &-text {
          font-size: 1.8rem;
          padding: 20px;
        }
      }
    }
  }
}
// ipad
@media screen and(min-width : "768px") and (max-width: "1023px") {
  .section-objectives {
    &__content {
      & .objectives-item {
        width: 76%;
        &-text {
          font-size: 1.4rem;
          padding: 20px;
        }
      }
    }
  }
}
// small tablet
@media screen and(min-width : "540px") and (max-width: "767px") {
  .section-objectives {
    &__content {
      & .objectives-item {
        width: 76%;
        &-text {
          font-size: 1.4rem;
          padding: 20px;
        }
      }
    }
  }
}
